@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: lab(100% 0 0);
    --foreground: lab(2.75381% 0 0);
    --card: lab(100% 0 0);
    --card-foreground: lab(2.75381% 0 0);
    --popover: lab(100% 0 0);
    --popover-foreground: lab(2.75381% 0 0);
    --primary: lab(55.793 0.629 46.346);
    --primary-foreground: lab(98.26% 0 0);
    --secondary: lab(96.52% -0.0000298023 0.0000119209);
    --secondary-foreground: lab(7.78201% -0.0000149012 0);
    --muted: lab(96.52% -0.0000298023 0.0000119209);
    --muted-foreground: lab(48.496% 0 0);
    --accent: lab(96.52% -0.0000298023 0.0000119209);
    --accent-foreground: lab(7.78201% -0.0000149012 0);
    --destructive: lab(48.4493% 77.4328 61.5452);
    --destructive-foreground: lab(96.4152% 3.22586 1.14673);
    --border: lab(90.952% 0 -0.0000119209);
    --input: lab(90.952% 0 -0.0000119209);
    --ring: lab(66.128% -0.0000298023 0.0000119209);
    --sidebar: lab(98.26% 0 0);
    --sidebar-foreground: lab(2.75381% 0 0);
    --sidebar-primary: lab(7.78201% -0.0000149012 0);
    --sidebar-primary-foreground: lab(98.26% 0 0);
    --sidebar-accent: lab(96.52% -0.0000298023 0.0000119209);
    --sidebar-accent-foreground: lab(7.78201% -0.0000149012 0);
    --sidebar-border: lab(90.952% 0 -0.0000119209);
    --sidebar-ring: lab(66.128% -0.0000298023 0.0000119209);
    --surface: lab(97.68% -0.0000298023 0.0000119209);
    --code-highlight: lab(95.36% 0 0);
    --code-number: lab(48.96% 0 0);
    --selection: lab(2.75381% 0 0);
    --selection-foreground: lab(100% 0 0);
  }

  .dark {
    --background: lab(2.75381% 0 0);
    --foreground: lab(98.26% 0 0);
    --card: lab(7.78201% -0.0000149012 0);
    --card-foreground: lab(98.26% 0 0);
    --popover: lab(7.78201% -0.0000149012 0);
    --popover-foreground: lab(98.26% 0 0);
    --primary: lab(55.793 0.629 46.346);
    --primary-foreground: lab(98.26% 0 0);
    --secondary: lab(15.204% 0 -0.00000596046);
    --secondary-foreground: lab(98.26% 0 0);
    --muted: lab(15.204% 0 -0.00000596046);
    --muted-foreground: lab(66.128% -0.0000298023 0.0000119209);
    --accent: lab(27.036% 0 0);
    --accent-foreground: lab(98.26% 0 0);
    --destructive: lab(63.7053% 60.745 31.3109);
    --destructive-foreground: lab(49.0747% 69.3434 49.6251);
    --border: lab(100% 0 0 / 0.1);
    --input: lab(100% 0 0 / 0.15);
    --ring: lab(48.496% 0 0);
    --sidebar: lab(7.78201% -0.0000149012 0);
    --sidebar-foreground: lab(98.26% 0 0);
    --sidebar-primary: lab(36.9089% 35.0961 -85.6872);
    --sidebar-primary-foreground: lab(98.26% 0 0);
    --sidebar-accent: lab(15.204% 0 -0.00000596046);
    --sidebar-accent-foreground: lab(98.26% 0 0);
    --sidebar-border: lab(100% 0 0 / 0.1);
    --sidebar-ring: lab(34.924% 0 0);
    --surface: lab(7.22637% -0.0000149012 0);
    --code-highlight: lab(15.32% 0 0);
    --code-number: lab(67.52% -0.0000298023 0);
    --selection: lab(90.952% 0 -0.0000119209);
    --selection-foreground: lab(7.78201% -0.0000149012 0);
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Comic Sans MS", cursive;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

.ripple {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  transform: translate(-50%, -50%) scale(0);
  animation: ripple-animation 0.3s ease-out forwards;
  pointer-events: none;
  opacity: 1;
}

@keyframes ripple-animation {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(4);
    opacity: 0;
  }
}
